/* Generals */


body{
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.709);
}

/* Section Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -4px;
    }
header img{
    height: 105px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 15px;
}
nav li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
 /* Section Hero */

#hero .photo{
    background-image: url(../Images/backgroung_image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100vw;
    min-width: 100%;
    min-height: 450px;

}

#hero img{
    height: 60px;
    width: 200px;
}

#hero h2{
    color: white;
    font-size: 32px;
}

/* Section Services */

#services{
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-top: 20px;
}
#services h1{
    font-size: 20px;
}
.types h3{
    text-transform: uppercase;
    font-size: 20px;
}
.types p{
    font-size: 12px;
}
.types {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 20px 20px;
    width: 80%;
}
.types div{
    margin: 0 10px;
   
}
blockquote p{
    width: 460px;
}

/* Footer */

footer{
    background-color: #5b359d;
    color: white;
    height: 220px;
    text-align: center;
    padding: 30px 30px 0 30px;

}
/* social networks icons */

#links{
    display: flex;
    justify-content: center;
}
#links a{
    margin: 0 40px;
}
#links i{
    font-size: 32px;
    color: #bdaed8;
}

/* links */

#foot{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
#foot p{
    font-size: 14px;
}
#foot div{
    text-align: left;
}
#foot h3{
    color: #bdaed8;
}
#foot ul{
    text-align: left;
}
#foot a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
#adress p{
    margin-left: 30px;
}
